<section class="user-form">
  <h2>Crea tu Usuario</h2>

  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <fieldset>
      <label for="username">Nombre de usuario: </label>
      <input type="text" id="username" formControlName="name">
      @if (userForm.controls["name"].invalid && userForm.controls["name"].touched) {
        <p class="form-error">El nombre es obligatorio y debe tener más de 3 caracteres</p>
      }
    </fieldset>

    <fieldset>
      <label for="email">Email: </label>
      <input type="email" id="email" formControlName="email">
      @if (userForm.controls["email"].invalid && userForm.controls["email"].touched) {
        <p class="form-error">El email es obligatorio y debe tener un formato adecuado</p>
      }
    </fieldset>

    <fieldset>
      <label for="is-active">Usuario Activo</label>
      <input type="checkbox" id="is-active" formControlName="isActive">
    </fieldset>

    <button [disabled]="userForm.invalid">Crear Usuario</button>
  </form>
</section>

