.movie-container {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 400px;
  background-color: lightblue;

  .movie-title {
    text-align: center;
  }

  .movie-main {
    display: flex;
    justify-content: space-around;

    .movie-img {
      width: 150px;
    }
  }
}